.jfx-snackbar-content{
    -fx-background-color:#8000FF;
    -fx-text-fill:#fff;
    -fx-font-weight:bold;
}
.jfx-snackbar-toast{
    -fx-text-fill:#E8DAEF;
    -fx-font-size:15px;
}
.jfx-snackbar-action{
    -fx-text-fill:#00ff00;
}